{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>
        Я не знаю что конкретно я должен о себе рассказать, 
        я работал над эти сайтом достаточно долго и получил приятный опыт. 
        Хочу выразить свою благодарнсть команде 
        "Yandex Praktikum" и человеку, который дал мне возможность пройти курс 
        "Python Backend Developer", а именно Андрею Пронину. 
        Если вы наткнульсь на этот проект в гитхабе и только собираетесь связать свою жизнь с IT сферой, 
        сделайте это с командой Яндекса.
      </p>
    </article>
  </div>
<div>
{% endblock %} 