{% extends 'includes/form_output.html'%}
{% if validlink %}
  {% block title %}Смена пароля{% endblock %}
  {% block card_header_name %}Смена пароля{% endblock %}
  {% block form_url %}{% endblock %}
  {% block button_text%}Сменить пароль{% endblock %} 
{% else %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">Ошибка</div>
        <div class="card-body">
          <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
        </div> <!-- card body -->
      </div> <!-- card -->
    </div> <!-- col -->
  </div> <!-- row -->
{% endif %}

